.caja{
    width: 80%;
    margin: 0 auto;
    /*border: solid;*/
}
.caja .mifoto{
    border-radius: 3em;
    box-shadow: 0.0.0.6em skyblue;
    cursor: pointer;
}

.capafondo{
    /*background: skyblue;*/
    background: url("botella.jpg") no-repeat;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    /*opacity: 60%;*/
    filter: grayscale(1);
    /*filter:drop-shadow(1);*/
}

/*.capafondo iframe{
    height: 100%;
    width: 100%;

}*/
/*.navbar-dark, .bg-coral{
    background: lightcoral;
}*/
.navbar-dark, .bg-dark{
    /*background: rgb(179, 90, 152) !important;*/
}

.espacio{
    height: 80px;
    /*border: solid red;*/
    margin-top: 80px;
    
}
.row div[class^="col"]{
    background: lightpink;
    border: solid 0.1em black;
}