.caja{
    width: 80%;
    margin: 0 auto;
    /*border: solid;*/
}
.caja .mifoto{
    border-radius: 3em;
    box-shadow: 0.0.0.6em blue;
    cursor: pointer;
}

.capafondo{
    /*background: skyblue;*/
    background: url("botella.jpg") no-repeat;

    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    /*opacity: 60%;*/
    filter: grayscale(1);
    /*filter:drop-shadow(1);*/
}

/*.capafondo iframe{
    height: 100%;
    width: 100%;

}*/
